@{
    ViewBag.Title = "Assessment Bill List";
}

<div class="title">
    <h1>
        Assessment Bill
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Assessment Bill</div>
        <div class="actions">
           <a href="@Url.Action("ExportData","Assessment")" target="_blank" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssessment">
            <thead class="red-th">
                <tr>
                    <th>Bill Ref</th>
                    <th>Tax payer name</th>
                    <th class="desktop">Date</th>
                    <th>Amount</th>
                    <th class="desktop">Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@{ 
    Html.RenderPartial("_AssessmentDetailPopup");
    Html.RenderPartial("_BillPaymentPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsAssessmentListWithExport.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    }