@model IList<EIRS.BOL.usp_GetBusinessList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%">
    <thead>
        <tr>
            <th class="all">Business Name</th>
            <th>Business Address</th>
            <th>&nbsp;</th>
            <th class="all">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.BusinessName</td>
                    <td>@item.BusinessAddress</td>
                    <td>
                        <a data-bid="@item.BusinessID" class="btnviewdetail">View Details</a>
                    </td>
                    <td>
                        <a href="@Url.Action("ClaimBusiness", "CBS", new { id = item.BusinessID, name = item.BusinessName.ToSeoUrl() })">
                            Select
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" align="center">No Records Found</td>
            </tr>
        }
    </tbody>
</table>
