
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Claim Business";
}

<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Data Profiler
            </h1>
            <hr>
            <p>
                We have dumped all the business data to allow for accurate cleansing and profiling. Where you find duplicates, just select the one that best matches your business and click on proceed. Kindly use the search button below to begin
            </p>
        </div>

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Step 1: Search Business
                </div>
                <adiv class="actions hide">
                    <a href="@Url.Action("Home", "CBS")">Return to CBS Home</a>
                </adiv>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-sm-8 form-horizontal">
                        @using (Ajax.BeginForm("SearchBData", "CBS", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess= "jsfn_ShowDataPortlet" }))
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Business Name
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBox("txtBusinessName", "", new { @class = "form-control", @placeholder = "Enter Business Name", @tabindex = "1" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-theme btn-block" id="btnSearch">Search</button>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="col-sm-4">
                        <p>
                            Enter name of your business and click on search below.
                            The five most matches results will be returned where available.
                            Select the one that best matches your company name and click on proceed.
                        </p>
                        <p>
                            You will be able to claim one business at a time and to view details of each company, click on the view link.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet light" id="dvDataPortlet">
            <div class="portlet-body" id="dvData">
                
            </div>
        </div>

    </div>
</section>


<div class="modal fade" id="divBusinessModal" tabindex="-1" role="dialog" aria-labelledby="divBusinessModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="divBusinessModalLabel">Business Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Name</label>
                            <div id="dvBusinessName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Address</label>
                            <div id="dvBusinessAddress">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Sector</label>
                            <div id="dvBusinessSector">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Sub Sector</label>
                            <div id="dvBusinessSubSector">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Type</label>
                            <div id="dvBusinessType">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Category</label>
                            <div id="dvBusinessCategory">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Asset Type</label>
                            <div id="dvAssetType">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Structure</label>
                            <div id="dvBusinessStructure">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Business Operations</label>
                            <div id="dvBusinessOperations">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Size</label>
                            <div id="dvSize">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"> 
                            <label class="control-label control-label-static bold">LGA</label>
                            <div id="dvLGA">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">TIN</label>
                            <div id="dvTIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Office</label>
                            <div id="dvTaxOffice">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer {
    <script type="text/javascript" src="~/Scripts/jsSearchBusiness.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    }