@using EIRS.Common
@{
    ViewBag.Title = "Tax Clearance Certificate";
}


<div class="title">
    <h1>
        Tax Clearance Certificate
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Tax Clearance Certificate</div>
        <div class="actions">
            @*<a class="btn btn-redtheme" href="@Url.Action("Add","TaxClearanceCertificate")">
                Add New
            </a>*@
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTCC">
            <thead class="red-th">
                <tr>
                    <th>TCC Number</th>
                    <th>TCC Date</th>
                    <th>Tax Year</th>
                    <th>Tax Payer Name</th>
                    <th>Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxClearanceCertificateList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}


