
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ThankYou";
}

<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Thank You
            </h1>
            <hr>
            <p>
                We have received you request for personal tax clearance certificate. <br />
                We will get back to you shortly
            </p>
        </div>

    </div>
</section>