@model EIRS.Models.VehicleViewModel

@{
    ViewBag.Title = "Add Vehicle Asset";
}

<div class="title">
    <h1>
        Vehicle Assets
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Add New Vehicle
        </div>
        <div class="actions">
            <a href="@Request.UrlReferrer" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Add", "ProfileVehicle", FormMethod.Post, htmlAttributes: new { @id = "frmAddVehicle" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            Html.RenderPartial("_BindVehicleForm", Model);

            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" value="Save" tabindex="20" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsAddEditVehicle.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
