
@{
    ViewBag.Title = "MDAServiceAndItems";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                MDAService And Items
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">

            <a href="@Url.Action("SyncToNewYear","DataControl")" class="btn btn-default">RollOver </a>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data- id="dvAssessmentRuleList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Assessment Rule List </h2>

                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbAssessmentRuleIIW" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Assessment Rule Code" id="txtAssessmentRuleCode" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Assessment Rule Name" id="txtAssessmentRuleName" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Assessment Amount" id="txtAssessmentAmount" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Assessment Item Name" id="txtAssessmentItems" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Percentage" id="txtPercentage" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Amount" id="txtTaxAmount" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Year" id="txtTaxYear" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Month" id="txtTaxMonth" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Status" id="txtStatus" />
                                        </th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Assessment Rule Code</th>
                                        <th>Assessment Rule Name</th>
                                        <th>Assessment Amount</th>
                                        <th>Assessment Item Name</th>
                                        <th>Percentage</th>
                                        <th>Tax Amount</th>
                                        <th>Tax Month</th>
                                        <th>Tax Year</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section Footer {
    <script Function="text/javascript" src="~/Scripts/MdaServiceItem.js"></script>
}