
@{
    string kkk="";
    ViewBag.Year = kkk;
    ViewBag.Title = "Sync To New Year";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Syncing Rule For The Year @ViewBag.Year Was Successful
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <h4> Syncing Rule For The Year @kkk Was Successful</h4>
        </div>
    </section>
</div>

