
@{
    ViewBag.Title = "Payment Account List";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Payment Account
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
            
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data- id="dvPaymentAccountList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Payment Account List </h2>
                        <div class="widget-toolbar">
                            
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbPaymentAccount" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Payment Ref No" id="txtPaymentRefNo" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Payment Date" id="txtPaymentDate" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Payer Type" id="txtTaxPayerType" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Payer Name" id="txtTaxPayerName" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Payer RIN" id="txtTaxPayerRIN" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Amount" id="txtAmount" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Revenue Stream" id="txtRevenueStream" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Revenue Sub Stream" id="txtRevenueSubStream" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Agency Name" id="txtAgencyName" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Method" id="txtSettlementMethod" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Status" id="txtSettlementStatus" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Notes" id="txtNotes" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Transaction Ref No" id="txtTransactionRefNo" />
                                        </th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Payment Ref No</th>
                                        <th>Payment Date</th>
                                        <th>Tax Payer Type</th>
                                        <th>Tax Payer Name</th>
                                        <th>Tax Payer RIN</th>
                                        <th>Amount</th>
                                        <th>Revenue Stream</th>
                                        <th>Revenue Sub Stream</th>
                                        <th>Agency Name</th>
                                        <th>Settlement Method</th>
                                        <th>Settlement Status</th>
                                        <th>Notes</th>
                                        <th>Transaction Ref No</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Footer {
    <script Function="text/javascript" src="~/Scripts/jsPaymentAccountList.js"></script>
}

