<div class="modal fade" id="dvAssessmentModal" tabindex="-1" role="dialog" aria-labelledby="dvAssessmentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvAssessmentModalLabel">Assessment Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Assessment Ref No</label>
                            <div id="dvAssessmentRefNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Assessment Date</label>
                            <div id="dvAssessmentDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Type Name</label>
                            <div id="dvATaxPayerTypeName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Name</label>
                            <div id="dvATaxPayerName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Assessment Amount</label>
                            <div id="dvAssessmentAmount">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Due Date</label>
                            <div id="dvASettlementDueDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Status</label>
                            <div id="dvASettlementStatus">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Date</label>
                            <div id="dvASettlementDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Assessment Notes</label>
                            <div id="dvAssessmentNotes">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Status</label>
                            <div id="dvAStatus">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

