<div class="modal fade" id="dvAssessmentRuleItemModal" tabindex="-1" role="dialog" aria-labelledby="dvAssessmentRuleItemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvAssessmentRuleItemModalLabel">Assessment Rule Details</h4>
            </div>
            <div class="modal-body" id="dvAssessmentRuleItemData">
                
            </div>
        </div>
    </div>
</div>


