@model IList<EIRS.BOL.usp_GetSettlementList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBillPayment">
    <thead class="red-th">
        <tr>
            <th>Payment Date</th>
            <th>Payment Ref</th>
            <th>Amount Paid</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
    {
        <tbody>
            @foreach (var sitem in Model)
            {
                <tr>
                    <td>@CommUtil.GetFormatedDate(sitem.SettlementDate)</td>
                    <td>@sitem.SettlementRefNo</td>
                    <td>@CommUtil.GetFormatedCurrency(sitem.SettlementAmount)</td>
                </tr>
            }
        </tbody>
    }
</table>
