@model IList<EIRS.BOL.usp_GetMDAServiceItemList_Result>
@using EIRS.Common


<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblMDAServiceItem">
    <thead class="red-th">
        <tr>
            <th class="all">Item Name</th>
            <th>Item Ref</th>
            <th class="all">Tax Amount</th>
        </tr>
    </thead>
    @if (Model.Count > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MDAServiceItemName</td>
                    <td>@item.MDAServiceItemReferenceNo</td>
                    <td>@CommUtil.GetFormatedCurrency(item.ServiceAmount)</td>
                </tr>
            }
        </tbody>
    }
</table>
