@model IList<EIRS.BOL.usp_GetAssessmentItemList_Result>
@using EIRS.Common


<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssessmentRuleItem">
    <thead class="red-th">
        <tr>
            <th>Item Name</th>
            <th>Item Ref</th>
            <th>Tax Amount</th>
        </tr>
    </thead>
    @if (Model.Count > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AssessmentItemName</td>
                    <td>@item.AssessmentItemReferenceNo</td>
                    <td>@CommUtil.GetFormatedCurrency(item.TaxAmount)</td>
                </tr>
            }
        </tbody>
    }
</table>
