<div class="modal fade" id="dvGovernmentModal" tabindex="-1" role="dialog" aria-labelledby="dvGovernmentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvGovernmentModalLabel">Government Tax Payer Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Government RIN</label>
                            <div id="dvGovernmentRIN">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Government Name</label>
                            <div id="dvGovernmentName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">TIN</label>
                            <div id="dvGTIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Government Type</label>
                            <div id="dvGovernmentType">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Office</label>
                            <div id="dvGTaxOffice">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Contact Name</label>
                            <div id="dvGContactName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Contact Email</label>
                            <div id="dvGContactEmail">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Contact Number</label>
                            <div id="dvGContactNumber">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Status</label>
                            <div id="dvGStatus">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

