<div class="modal fade" id="dvLandModal" tabindex="-1" role="dialog" aria-labelledby="dvLandModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvLandModalLabel">Land Asset Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Land RIN</label>
                            <div id="dvLandRIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Street Name</label>
                            <div id="dvLandStreetName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Town</label>
                            <div id="dvLandTown">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">LGA</label>
                            <div id="dvLandLGA">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Ward</label>
                            <div id="dvLandWard">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Land Size - Length (Sqm)</label>
                            <div id="dvLandSize_Length">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Land Size - Width (Sqm)</label>
                            <div id="dvLandSize_Width">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">C_OF_O_Ref</label>
                            <div id="dvC_OF_O_Ref">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Land Purpose</label>
                            <div id="dvLandPurpose">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Land Ownership</label>
                            <div id="dvLandOwnership">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Land Occupancy</label>
                            <div id="dvLandOccupancy">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Latitude</label>
                            <div id="dvLandLatitude">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Longitude</label>
                            <div id="dvLandLongitude">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Status</label>
                            <div id="dvLandStatus">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

