<div class="modal fade" id="dvPaymentAccountModal" tabindex="-1" role="dialog" aria-labelledby="dvPaymentAccountModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvPaymentAccountModalLabel">Payment Account Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">PoA Ref No</label>
                            <div id="dvPaymentAccountRefNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">PoA Date</label>
                            <div id="dvPaymentAccountDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Type Name</label>
                            <div id="dvPATaxPayerTypeName">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Transaction Reference No</label>
                            <div id="dvPATransactionReferenceNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Revenue Stream Name</label>
                            <div id="dvRevenueStreamName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer RIN</label>
                            <div id="dvPATaxPayerRIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Name</label>
                            <div id="dvPATaxPayerName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Amount</label>
                            <div id="dvPaymentAccountAmount">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Notes</label>
                            <div id="dvNotes">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


