<div class="modal fade" id="dvServiceBillModal" tabindex="-1" role="dialog" aria-labelledby="dvServiceBillModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvServiceBillModalLabel">ServiceBill Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Service Bill Ref No</label>
                            <div id="dvServiceBillRefNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Service Bill Date</label>
                            <div id="dvServiceBillDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Type Name</label>
                            <div id="dvSTaxPayerTypeName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Name</label>
                            <div id="dvSTaxPayerName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Service Bill Amount</label>
                            <div id="dvServiceBillAmount">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Due Date</label>
                            <div id="dvSSettlementDueDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Status</label>
                            <div id="dvSSettlementStatus">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Date</label>
                            <div id="dvSSettlementDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Status</label>
                            <div id="dvSStatus">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

