<div class="modal fade" id="dvSettlementModal" tabindex="-1" role="dialog" aria-labelledby="dvSettlementModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvSettlementModalLabel">Settlement Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Ref No</label>
                            <div id="dvSettlementRefNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Date</label>
                            <div id="dvSettlementDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Type Name</label>
                            <div id="dvTaxPayerTypeName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer RIN</label>
                            <div id="dvTaxPayerRIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Name</label>
                            <div id="dvTaxPayerName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Amount</label>
                            <div id="dvSettlementAmount">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Transaction Reference No</label>
                            <div id="dvTransactionReferenceNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Assessment / Service Bill Ref No</label>
                            <div id="dvASBRefNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Settlement Notes</label>
                            <div id="dvSettlementNotes">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

