<div class="modal fade" id="dvVehicleModal" tabindex="-1" role="dialog" aria-labelledby="dvVehicleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvVehicleModalLabel">Vehicle Asset Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Vehicle RIN</label>
                            <div id="dvVehicleRIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Vehicle Reg Number</label>
                            <div id="dvVehicleRegNumber">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">VIN</label>
                            <div id="dvVIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Vehicle Type</label>
                            <div id="dvVehicleType">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Vehicle Sub Type</label>
                            <div id="dvVehicleSubType">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Registration LGA</label>
                            <div id="dvVLGA">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Vehicle Purpose</label>
                            <div id="dvVehiclePurpose">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Vehicle Function</label>
                            <div id="dvVehicleFunction">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Vehicle Ownership</label>
                            <div id="dvVehicleOwnership">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Status</label>
                            <div id="dvVStatus">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

