@model EIRS.Web.Models.PrepareTCCDraftViewModel
@using EIRS.Common
@{
    ViewBag.Title = "SignTCCVisible";
}

<h2>SignTCCVisible</h2>

<div>
    <iframe src="/pdf/test.pdf" style="width:100%;height:700px;"></iframe>
</div>
<div>
    <!-- I agree button -->
</div>