<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AntiForgeryCookieName" value="_eirsadmin_" />
    <add key="config:EnableTiles" value="0" />
    <add key="config:EnableLoader" value="0" />
    <add key="config:Project" value="EIRS Automation" />
    <add key="config:Company" value="EIRS" />
    <add key="config:CurrentTheme" value="smart-style-3" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  </appSettings>
  <connectionStrings>
	  <!--<add name="DBConnection" connectionString="Data Source=51.140.53.192;Initial Catalog=EIRS;user id=eras-admin;password=X#KT2$$gtH;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	  <add name="ChartDBConnection" connectionString="Data Source=51.140.53.192;Initial Catalog=EIRS_CHART_DW;user id=eras-admin;password=X#KT2$$gtH;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	  <add name="ErrorConnection" connectionString="Data Source=51.140.53.192;Initial Catalog=ERAS;user id=eras-admin;password=X#KT2$$gtH;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	  <add name="ERASEntities" connectionString="metadata=res://*/ERASModel.csdl|res://*/ERASModel.ssdl|res://*/ERASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.140.53.192;initial catalog=ERAS;persist security info=True;user id=eras-admin;password=X#KT2$$gtH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="EIRSEntities" connectionString="metadata=res://*/EIRSModel.csdl|res://*/EIRSModel.ssdl|res://*/EIRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.140.53.192;initial catalog=EIRS;persist security info=True;user id=eras-admin;password=X#KT2$$gtH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="ERASDWEntities" connectionString="metadata=res://*/ERASDWModel.csdl|res://*/ERASDWModel.ssdl|res://*/ERASDWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.140.53.192;initial catalog=ERASDW;persist security info=True;user id=eras-admin;password=X#KT2$$gtH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--<add name="ErrorConnection" connectionString="Data Source=136.243.82.226;Initial Catalog=EIRS;User ID=sa;Password=bits@18;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EIRSEntities" connectionString="metadata=res://*/EIRSModel.csdl|res://*/EIRSModel.ssdl|res://*/EIRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=136.243.82.226;initial catalog=EIRS;user id=auth;password=Ubarab@805;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERASEntities" connectionString="metadata=res://*/ERASModel.csdl|res://*/ERASModel.ssdl|res://*/ERASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=136.243.82.226;initial catalog=ERAS;persist security info=True;user id=sa;password=bits@18;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ErrorConnection" connectionString="Data Source=TEMITAYODEVELOP;Initial Catalog=ERAS;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ERASEntities" connectionString="metadata=res://*/ERASModel.csdl|res://*/ERASModel.ssdl|res://*/ERASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TEMITAYODEVELOP;Initial Catalog=ERAS;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EIRSEntities" connectionString="metadata=res://*/EIRSModel.csdl|res://*/EIRSModel.ssdl|res://*/EIRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TEMITAYODEVELOP;Initial Catalog=EIRS;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERASDWEntities" connectionString="metadata=res://*/ERASDWModel.csdl|res://*/ERASDWModel.ssdl|res://*/ERASDWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TEMITAYODEVELOP;Initial Catalog=ERASDW;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ErrorConnection" connectionString="Data Source=92.205.57.77;Initial Catalog=ERAS;user id=ty;password=Omoiyatayo@01;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="ERASEntities" connectionString="metadata=res://*/ERASModel.csdl|res://*/ERASModel.ssdl|res://*/ERASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.57.77;initial catalog=ERAS;persist security info=True;user id=ty;password=Omoiyatayo@01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EIRSEntities" connectionString="metadata=res://*/EIRSModel.csdl|res://*/EIRSModel.ssdl|res://*/EIRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.57.77;initial catalog=EIRS;persist security info=True;user id=ty;password=Omoiyatayo@01;Connection Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ERASDWEntities" connectionString="metadata=res://*/ERASDWModel.csdl|res://*/ERASDWModel.ssdl|res://*/ERASDWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.57.77;initial catalog=ERASDW;persist security info=True;user id=ty;password=Omoiyatayo@01;Connection Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="ErrorConnection" connectionString="Data Source=92.205.57.77;Initial Catalog=ERAS;user id=Admin;password=K5?wh7l4##;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ERASEntities" connectionString="metadata=res://*/ERASModel.csdl|res://*/ERASModel.ssdl|res://*/ERASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.57.77;initial catalog=ERAS;persist security info=True;user id=Admin;password=K5?wh7l4##;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EIRSEntities" connectionString="metadata=res://*/EIRSModel.csdl|res://*/EIRSModel.ssdl|res://*/EIRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.57.77;initial catalog=EIRS;persist security info=True;user id=Admin;password=K5?wh7l4##;Connection Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERASDWEntities" connectionString="metadata=res://*/ERASDWModel.csdl|res://*/ERASDWModel.ssdl|res://*/ERASDWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.57.77;initial catalog=ERASDW;persist security info=True;user id=Admin;password=K5?wh7l4##;Connection Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbEntities" connectionString="Data Source=92.205.57.77;Initial Catalog=EIRS;user id=Admin;password=K5?wh7l4##" />
    <!--<add name="ERASEntities" connectionString="metadata=res://*/ERASModel.csdl|res://*/ERASModel.ssdl|res://*/ERASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEMITAYODEVELOP;initial catalog=ERAS;persist security info=True;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EIRSEntities" connectionString="metadata=res://*/EIRSModel.csdl|res://*/EIRSModel.ssdl|res://*/EIRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEMITAYODEVELOP;initial catalog=EIRS;persist security info=True;Integrated Security=true;Connection Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERASDWEntities" connectionString="metadata=res://*/ERASDWModel.csdl|res://*/ERASDWModel.ssdl|res://*/ERASDWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEMITAYODEVELOP;initial catalog=ERASDW;persist security info=True;Integrated Security=true;Connection Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="Error.aspx" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <globalization culture="en-US" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <!--. If allowRemoteAccess value is set to 0, then the error log web page can only be viewed locally. If allowRemoteAccess attribute is set to 1 then the error log web page is enabled for both remote and local visitors.-->
    <!--add this-->
    <security allowRemoteAccess="0" />
    <!--  DefaultConnection is the name of database connection string -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ElmahConnection" />
    <!--add this-->
  </elmah>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>