@model EIRS.Models.ScreenViewModel

@{
    ViewBag.Title = "Screen Details";
}

<div class="title">
    <h1>
        Manage Screens : Screen Details
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Screen Details
        </div>
        <div class="actions">
            <a href="@Url.Action("List","Screen")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Screen Name: </label>
                    <div class="form-control-static">
                        @Model.ScreenName
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Screen Url: </label>
                    <div class="form-control-static">
                        @Model.ScreenUrl
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Status: </label>
                    <div class="form-control-static">
                        @Model.ActiveText
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
