
@{
    ViewBag.Title = "Convert Tax Payer Search";
}

<div class="title">
    <h1>
        Convert Tax Payer
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Tax Payer - Individual
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-7">
                @using (Ajax.BeginForm("IndividualToCorporate", "ConverTaxPayer", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchIndividual" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-3">Individual Name</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtName", "", new { @class = "form-control", @placeholder = "Enter Individual Name", @tabindex = "1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mobile</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtMobileNumber", "", new { @class = "form-control", @placeholder = "Enter Mobile Number", @tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">RIN</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN", @tabindex = "3" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch"> Search </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-5">
                <p>
                    Enter name of Individual and click on search below. The five most matches results will be returned where available. Select the one that best matches your Individual name and click on proceed.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">Individual List</div>
    </div>
    <div class="portlet-body" id="dvData">

    </div>
</div>

@{Html.RenderPartial("_IndividualDetailPopup"); }


@section Footer {
    <script type="text/javascript" src="~/Scripts/jsIndividualToCorporateList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}