@{
    ViewBag.Title = "Settle - Demand Notice - Charges";
}

<div class="title">
    <h1>
        Settle - Demand Notice - Charges
    </h1>
    <hr>
</div>

<input type="hidden" id="hdnTaxPayerTypeID" value="@ViewBag.TaxPayerTypeID" />
<input type="hidden" id="hdnTaxPayerID" value="@ViewBag.TaxPayerID" />

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Demand Notice - Charges</div>
        <div class="text-right">
            <a href="@Url.Action("DemandNotice","Settle")" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
            <a href="@Url.Action("DemandNoticeChargesExportToExcel","Settle",new { TaxPayerTypeID=ViewBag.TaxPayerTypeID, TaxPayerID = ViewBag.TaxPayerID })" target="_blank" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPaymentCharges">
            <thead class="red-th">
                <tr>
                    <th>Tax Year</th>
                    <th>Bill Ref</th>
                    <th>Revenue Stream</th>
                    <th class="none">Penalty</th>
                    <th class="none">Interest</th>
                    <th>Total Charges</th>
                    <th>Charge Date</th>
                    <th class="none">Bill Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsDemandNoticeCharges.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

