@{
    ViewBag.Title = "Settle - Demand Notice";
}

<div class="title">
    <h1>
        Settle - Demand Notice
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Demand Notices</div>
        <div class="text-right">
            <a href="@Url.Action("DemandNoticeExportToExcel","Settle")" target="_blank" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblDemandNotice">
            <thead class="red-th">
                <tr>
                    <th>RIN</th>
                    <th>Tax Payer Type</th>
                    <th>Tax Payer Name</th>
                    <th>Total Assessed</th>
                    <th class="none">Total Penalty</th>
                    <th class="none">Total Interest</th>
                    <th>Total Charges</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsDemandNoticeList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

