@using EIRS.Common
@{
    ViewBag.Title = "Treasury Receipt";
}


<div class="title">
    <h1>
        Treasury Receipt
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Treasury Receipt</div>
        <div class="actions">
            <a class="btn btn-redtheme" href="@Url.Action("Add","TreasuryReceipt")">
                Add Treasury Receipt
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblReceiptList">
            <thead class="red-th">
                <tr>
                    <th>Receipt Ref No</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Tax Payer</th>
                    <th>Bill Ref</th>
                    <th class="desktop">Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="dvCancelReceiptModal" tabindex="-1" role="dialog" aria-labelledby="dvCancelReceiptModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dvCancelReceiptModalLabel">Cancel Treasury Receipt</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="dvShowCancelReceiptAlert">

                </div>
                <div class="form-horizontal">
                    <input type="hidden" value="0" id="hdnReceiptID" />
                    <div class="form-group">
                        <label class="control-label col-sm-4">Notes</label>
                        <div class="col-sm-8">
                            @Html.TextArea("txtCancelNotes", "", new { @class = "form-control", @placeholder = "Enter Cancellation Notes", @id = "txtCancelNotes" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-theme" id="btnCancelReceipt">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dvReceiptNotesModal" tabindex="-1" role="dialog" aria-labelledby="dvReceiptNotesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dvReceiptNotesModalLabel">Update Treasury Receipt Notes</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="dvShowReceiptNotesAlert">

                </div>
                <div class="form-horizontal">
                    <input type="hidden" value="0" id="hdnRN_ReceiptID" />
                    <div class="form-group">
                        <label class="control-label col-sm-4">Notes</label>
                        <div class="col-sm-8">
                            @Html.TextArea("txtNotes", "", new { @class = "form-control", @placeholder = "Enter Notes", @id = "txtNotes" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-theme" id="btnUpdateReceiptNotes">Update</button>
            </div>
        </div>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTreasuryReceiptList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}


