@model IList<EIRS.BOL.usp_GetGovernmentList_Result>

@{
    ViewBag.Title = "Government List";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-archive"></i>
                Government
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
            <a href="@Url.Action("Add","Government")" class="btn btn-default">
                Add Government
            </a>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data-id="dvGovernmentList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Government List </h2>
                        <div class="widget-toolbar">
                            <a href="@Url.Action("Add","Government")" class="btn btn-primary">Add Government </a>
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbGovernment" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Government RIN" id="txtGovernmentRIN"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Government Name" id="txtGovernmentName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter TIN" id="txtGovernmentTIN"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Government Type" id="txtGovernmentType"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Tax Office" id="txtTaxOffice"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Tax Payer Type" id="txtTaxPayerType"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Contact Name" id="txtContactName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Contact Email" id="txtContactEmailAddress"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Contact Number" id="txtContactNumber"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Notification Method" id="txtNotificationMethod"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Status" id="txtStatus"/>
                                        </th>
                                        <th style="width:10%"></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Government RIN</th>
                                        <th>Government Name</th>
                                        <th>TIN</th>
                                        <th>Government Type</th>
                                        <th>Tax Office</th>
                                        <th>Tax Payer Type</th>
                                        <th>Contact Name</th>
                                        <th>Contact Email</th>
                                        <th>Contact Number</th>
                                        <th>Notification Method</th>
                                        <th>Tax Payer Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div id="dvProfileInformation" title="Profile Information">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label control-label-static">Tax Payer RIN</label>
                <div id="dvPITaxPayerRIN">

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label control-label-static">Tax Payer Name</label>
                <div id="dvPITaxPayerName">

                </div>
            </div>
        </div>
        <div class="col-sm-12" id="dvProfileList">

        </div>
    </div>
</div>

<div id="dvAssessmentRuleInformation" title="Assessment Rule Information">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label control-label-static">Tax Payer RIN</label>
                <div id="dvARITaxPayerRIN">

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label control-label-static">Tax Payer Name</label>
                <div id="dvARITaxPayerName">

                </div>
            </div>
        </div>
        <div class="col-sm-12" id="dvAssessmentRuleList">

        </div>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsGovernmentList.js"></script>
}

