@model IList<EIRS.BOL.usp_GetAPIList_Result>

@{
    ViewBag.Title = "API List";
}

<div class="title">
    <h1>
        Manage API : API List
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Filters
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            @using (Ajax.BeginForm("SearchData", "API", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_bindTable();", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }))
            {

                <div class="col-md-6">
                    <div class="form-group">
                        <label>API Name</label>
                        @Html.TextBox("txtFilter", "", new { @class = "form-control", @placeholder = "Enter API Name", @tabindex = "1" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        @Html.DropDownList("cboStatus", (IList<SelectListItem>)ViewBag.StatusList, new { @class = "form-control bs-select", @tabindex = "2" })
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group text-right">
                        <button class="btn btn-theme"> Search </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">API List</div>
        <div class="actions">
            
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        @{Html.RenderPartial("SearchData", Model);}
    </div>
</div>

@section footer{
    <script type="text/javascript" src="~/Scripts/jsAPI.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

