@model IList<EIRS.BOL.usp_GetTaxPayerBill_Result>
@using EIRS.Common
@{
    ViewBag.Title = "Unsettled Bills ";
}

<div class="title">
    <h1>
        Unsettled Bills
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Unsettled Bills </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblUnSettledBillList">
            <thead class="red-th">
                <tr>
                    <th>Bill Date</th>
                    <th>Bill Ref</th>
                    <th class="desktop">Tax Payer</th>
                    <th>Amount</th>
                    <th class="desktop">Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_AssessmentDetailPopup");
    Html.RenderPartial("_BillPaymentPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsAssessList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

