@using EIRS.Common
@{
    ViewBag.Title = "Dashboard";
}

@section header {

}

<div class="title">
    <h1>
        Dashboard
    </h1>
    <hr>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Bill Settlements
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboB_BillType">
                        <option value="0">All</option>
                        <option value="1">Assessment bills</option>
                        <option value="2">Service bills</option>
                    </select>

                    @Html.DropDownList("cboSettlementStatus", (SelectList)ViewBag.SettlementStatusList, "All Status", new { @id = "cboSettlementStatus", @class = "form-control bs-select" })

                    <button class="btn btn-redtheme" id="btnB_Yearly" data-val="1">Yearly</button>
                    <button class="btn btn-redtheme" id="btnB_Monthly" data-val="2">Monthly</button>
                    <button class="btn btn-redtheme" id="btnB_Weekly" data-val="3">Weekly</button>
                    <button class="btn btn-redtheme" id="btnB_Daily" data-val="4">Daily</button>

                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtBillContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Tax Payer Bills
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboTPB_BillType">
                        <option value="0">All</option>
                        <option value="1">Assessment bills</option>
                        <option value="2">Service bills</option>
                    </select>

                    @Html.DropDownList("cboTPB_TaxPayerType", (SelectList)ViewBag.TaxPayerTypeList, "All Tax Payers", new { @id = "cboTPB_TaxPayerType", @class = "form-control bs-select" })

                    <button class="btn btn-redtheme" id="btnTPB_Yearly" data-val="1">Yearly</button>
                    <button class="btn btn-redtheme" id="btnTPB_Monthly" data-val="2">Monthly</button>
                    <button class="btn btn-redtheme" id="btnTPB_Weekly" data-val="3">Weekly</button>
                    <button class="btn btn-redtheme" id="btnTPB_Daily" data-val="4">Daily</button>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtTaxPayerBillContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Tax Payer Settlements
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboTPS_BillType">
                        <option value="0">All</option>
                        <option value="1">Assessment bills</option>
                        <option value="2">Service bills</option>
                    </select>

                    @Html.DropDownList("cboTPS_TaxPayerType", (SelectList)ViewBag.TaxPayerTypeList, "All Tax Payers", new { @id = "cboTPS_TaxPayerType", @class = "form-control bs-select" })

                    <button class="btn btn-redtheme" id="btnTPS_Yearly" data-val="1">Yearly</button>
                    <button class="btn btn-redtheme" id="btnTPS_Monthly" data-val="2">Monthly</button>
                    <button class="btn btn-redtheme" id="btnTPS_Weekly" data-val="3">Weekly</button>
                    <button class="btn btn-redtheme" id="btnTPS_Daily" data-val="4">Daily</button>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtTaxPayerSettlementContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Bills Aging
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboBA_BillType">
                        <option value="0">All</option>
                        <option value="1">Assessment bills</option>
                        <option value="2">Service bills</option>
                    </select>

                    @Html.DropDownList("cboBA_TaxPayerType",(SelectList)ViewBag.TaxPayerTypeList,"All Tax Payers",new { @id= "cboBA_TaxPayerType", @class= "form-control bs-select" })

                    <select class="form-control bs-select" id="cboBAFilter">
                        <option value="1">0 - 3 months </option>
                        <option value="2">3 - 6 months </option>
                        <option value="3">6 - 12 months </option>
                        <option value="4">Greater than 12 months </option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtBillAgingContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Businesses
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboBusinessFilter">
                        <option value="1">All Businesses</option>
                        <option value="2">Business type</option>
                        <option value="3">Business Category</option>
                        <option value="4">Business Structure</option>
                        <option value="5">Sector</option>
                        <option value="6">Sub Sector</option>
                        <option value="7">Operations</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtBusinessContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Lands
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboLandFilter">
                        <option value="1">All Lands</option>
                        <option value="2">Purpose</option>
                        <option value="3">Ownership</option>
                        <option value="4">Development</option>
                        <option value="5">Function</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtLandContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Buildings
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboBuildingFilter">
                        <option value="1">All Buildings</option>
                        <option value="2">Type</option>
                        <option value="3">Completion</option>
                        <option value="4">Purpose</option>
                        <option value="5">Ownership</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtBuildingContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Vehicles
                </div>
                <div class="actions">
                    <select class="form-control bs-select" id="cboVehicleFilter">
                        <option value="1">All Vehicles</option>
                        <option value="2">Type</option>
                        <option value="3">Sub Type</option>
                        <option value="4">Purpose</option>
                        <option value="5">Function</option>
                        <option value="6">Ownership</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chrtVehicleContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>


@section footer {
    <script type="text/javascript" src="~/Content/Scripts/jquery.canvasjs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsDataCubes.js"></script>
}