@model IList<EIRS.BOL.usp_GetScreenMenuList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblScreen">
    <thead class="red-th">
        <tr>
            <th> Screen Name </th>
            <th class="desktop"> Screen Url </th>
            <th> Main Screen </th>
            <th class="action-th all"> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ScreenName</td>
            <td>@item.ScreenUrl</td>
            <td>@item.MainScreenText</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a onclick="javascript:jsfn_RemoveLink(@item.CMSID,@item.CentralMenuID)">
                                Remove Screen
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>



