@using EIRS.Common
@{
    ViewBag.Title = "ERAS Manual - Bank Statement - List";
}

<div class="title">
    <h1>
        ERAS Manual - Bank Statement - List
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Manage Data</div>
        <div class="actions">
            <a href="@Url.Action("DataSource","ERASManual")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblData">
            <thead class="red-th">
                <tr>
                    <th>Payment Ref No</th>
                    <th>Payment Date</th>
                    <th>Customer Name</th>
                    <th class="none">Category</th>
                    <th class="none">Revenue Head</th>
                    <th class="none">Bank</th>
                    <th>Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/jsEMBankStatementList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

