@{
    ViewBag.Title = "Business List";
}

<div class="title">
    <h1>Businesses</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            List of Businesss
        </div>
        <div class="actions">
            <a href="@Url.Action("ExportData","ProfileBusiness")" target="_blank" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBusiness">
            <thead class="red-th">
                <tr>
                    <th>RIN</th>
                    <th>Business Name</th>
                    <th>Address</th>
                    <th class="desktop">Sub Sector</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@{Html.RenderPartial("_BusinessDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsBusinessListWithExport.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}



