@model IList<EIRS.BOL.usp_GetPaymentByTaxOffice_Result>
@using EIRS.Common;

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPaymentByTaxOffice">
    <thead class="red-th">
        <tr>
            <th>Tax Office</th>
            <th>Amount</th>
            <th>Count Of Transaction</th>
            <th class="action-th all">Action</th>
        </tr>
    </thead>
    <tbody class="red-th">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.TaxOfficeName</td>
                    <td>@CommUtil.GetFormatedCurrency(item.Amount)</td>
                    <td>@item.TransactionCount.GetValueOrDefault()</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PaymentDetailByTaxOffice","OperationManager",new { intTaxOfficeID=item.TaxOfficeID,FromDate=ViewBag.FromDate,ToDate=ViewBag.ToDate,intPaymentTypeID=ViewBag.PaymentType})">View Details</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


