@{
    ViewBag.Title = "Operation Manager - Asset Type by Tax Office - Asset List";
}

<div class="title">
    <h1>
        Operation Manager - Asset Type by Tax Office - Asset List
    </h1>
    <hr>
</div>

<input type="hidden" id="hdnTaxOfficeID" value="@ViewBag.TaxOfficeID" />
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Asset List</div>
        <div class="text-right">
            <a href="@Url.Action("AssetTypeByTaxOffice","OperationManager")" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
            <a href="@Url.Action("AssetTypeByTaxOfficeDetailExportToExcel","OperationManager",new { TaxOfficeID=ViewBag.TaxOfficeID})" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssetList">
            <thead class="red-th">
                <tr>
                    <th>Asset Type </th>
                    <th>Asset Name</th>
                    <th>Asset RIN</th>
                    <th>Asset LGA</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsAssetTypeByTaxOfficeDetail.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

