@using EIRS.Common;
@{
    ViewBag.Title = "Operation Manager - Business Sector Assessment - Tax Payer List";
}

<div class="title">
    <h1>
        Operation Manager - Business Sector Assessment - Tax Payer List
    </h1>
    <hr>
</div>

<input type="hidden" id="hdnTaxYear" value="@ViewBag.TaxYear" />
<input type="hidden" id="hdnBusinessSectorID" value="@ViewBag.BusinessSectorID" />
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Tax Payer List</div>
        <div class="text-right">
            <a href="@Url.Action("BusinessSectorAssessmentSummary","OperationManager")" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
            <a href="@Url.Action("BusinessSectorAssessmentDetailExportToExcel","OperationManager",new { TaxYear= ViewBag.TaxYear, BusinessSectorID=ViewBag.BusinessSectorID})" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxPayerList">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer RIN</th>
                    <th class="none">Tax Payer Type</th>
                    <th class="none">Tax Payer Name</th>
                    <th>Assessments</th>
                    <th>Settlements</th>
                    <th class="none">PoA</th>
                    <th>Oustanding</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsBusinessSectorAssessmentDetail.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

