@using EIRS.Common;
@{
    ViewBag.Title = "Operation Manager - Business Sector Assessment Summary";
}

<div class="title">
    <h1>
        Operation Manager - Business Sector Assessment Summary
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Filters
        </div>
    </div>
    <div class="portlet-body">
        <form id="frmBusinessSectorAssessment" class="form-horizontal">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Year:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Year", (SelectList)ViewBag.YearList, "Select Year", new { @class = "form-control bs-select", @id = "cboYear" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Business Type:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("BusinessType", (SelectList)ViewBag.BusinessTypeList, "Select Business Type", new { @class = "form-control bs-select", @id = "cboBusinessType" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Business Category:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("BusinessCategory", Enumerable.Empty<SelectListItem>(), "All Business Category", new { @class = "form-control bs-select", @id = "cboBusinessCategory" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch" type="button" tabindex="4"> Search </button>
                        </div>
                    </div>

                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">Business Sector Assessment Summary</div>
        <div class="form-actions text-right">
            <button type="button" id="btnExportToExcel" class="btn btn-theme">Export To Excel</button>
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBusinessSectorAssessment">
            <thead class="red-th">
                <tr>
                    <th>Business Sector</th>
                    <th class="none">Business Category</th>
                    <th>Assessments</th>
                    <th>Settlements</th>
                    <th class="none">Payments on Account</th>
                    <th>Outstanding</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



@section Footer {
    <script type="text/javascript" src="~/Scripts/jsBusinessSectorAssessmentSummary.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}




