@model IEnumerable<EIRS.Web.GISModels.MapReveuneStreamWithLateCharge>

@{
    ViewBag.Title = "LateChargeList";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Late Charge List</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblLateManager">
            <thead class="red-th">
                <tr>
                    <th>Revenue Stream Name</th>
                    <th>Tax Year</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ret in Model)
                {
                    <tr>
                        <td>@ret.RevenueStreamName</td>
                        <td>@ret.TaxYear</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("LateChargeDetail", "OperationManager",new {profName= ret.RevenueStreamName, txYear = ret.TaxYear, id = ret.Id})">Process</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            jsfn_ConvertToDatableWithCustomSort($('#tblLateManager'), [{ "orderable": true }, { "orderable": true }, { "orderable": false }], 'No Record Found');
        });
    </script>
}