
@{
    ViewBag.Title = "LateChargeDetailII";
}



<div class="portlet light">
    <div class="portlet-title">
        <div class="caption"><h2>Late Charge Step II</h2></div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <div id="divLoader" style="display:none;">
            <img src="~/Content/Images/microsoft-loading.gif" alt="Loader" />
            <h2>Hold On While We Fetch Your Records</h2>
        </div>
        <div id="divButton">
            <button type="button" id="btnSubmitIII" style="height:50px; width:800px; " class="btn btn-default btn-warning" onclick="location.href='@Url.Action("LateChargeDetailII", "OperationManager", new {step=2})'">STEP II</button>
        </div>
    </div>
</div>
@section footer {
    <script type="text/javascript" src="~/Scripts/LateCharge.js"></script>
}

