@using EIRS.Common;
@{
    ViewBag.Title = "Operation Manger - Revenue Stream By Tax Office Target";
}

<div class="title">
    <h1>
        Operation Manger - Revenue Stream By Tax Office Target
    </h1>

    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Filters
        </div>
    </div>
    <div class="portlet-body">
        <form id="frmRevenueStreamByTaxOfficeTarget" class="form-horizontal">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Revenue Stream:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("RevenueStream", (SelectList)ViewBag.RevenueStreamList, "Select Revenue Stream", new { @class = "form-control bs-select", @id = "cboRevenueStream" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Year:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Year", (SelectList)ViewBag.YearList, "Select Tax Year", new { @class = "form-control bs-select", @id = "cboYear" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">TaxOffice:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("TaxOfficeList", (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", new { @class = "form-control bs-select", @id = "cboTaxOfficeList" })
                        </div>
                    </div>   <div class="form-group">
                        <label class="col-md-4 control-label">Month:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Month", (SelectList)ViewBag.MonthList, "Select Month", new { @class = "form-control bs-select", @id = "cboMonth" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch" type="button" tabindex="4"> Search </button>
                        </div>
                    </div>

                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">Tax Office By Revenue Stream Target</div>
        <div class="form-actions text-right">

        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblRevenueStreamByTaxOfficeTarget">
            <thead class="red-th">
                <tr>
                    <th>Revenue Stream</th>
                    <th>Target Amount</th>
                    <th>Collection</th>
                    <th>Differential</th>
                    <th>Performance</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



@section Footer {


    <script type="text/javascript" src="~/Scripts/jsRevenueStreamByTaxOfficeTarget.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}





