@using EIRS.Common;
@{
    ViewBag.Title = "Operation Manger - Tax Office Manager Summary";
}

<div class="title">
    <h1>
        Operation Manger - Tax Office Manager Summary
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Filters
        </div>
    </div>
    <div class="portlet-body">
        <form id="frmTaxOfficeManagerSummary" class="form-horizontal">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tax Office:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("TaxOffice", (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", new { @class = "form-control bs-select", @id = "cboTaxOffice" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch" type="button" tabindex="4"> Search </button>
                        </div>
                    </div>

                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">Tax Office Manager Summary</div>
        <div class="form-actions text-right">
            <button type="button" id="btnExportToExcel" class="btn btn-theme">Export To Excel</button>
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxOfficeManagerSummary">
            <thead class="red-th">
                <tr>
                    <th>Manager Name</th>
                    <th class="none">No. of Tax Officers </th>
                    <th>No. of Tax Payer </th>
                    <th>Assessment</th>
                    <th>Payment</th>
                    <th>Outstanding</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxOfficeManagerSummary.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}




