@using EIRS.Common;
@{
    ViewBag.Title = "Operation Manger - Tax Office Manager Summary - Tax Payer List";
}

<div class="title">
    <h1>
        Operation Manger - Tax Office Manager Summary - Tax Payer List
    </h1>
    <hr>
</div>

<input type="hidden" id="hdnTaxOfficeID" value="@ViewBag.TaxOfficeID" />
<input type="hidden" id="hdnTOManagerID" value="@ViewBag.TOManagerID" />
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Tax Payer List</div>
        <div class="text-right">
            <a href="@Url.Action("TaxOfficeManagerSummary","OperationManager")" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
        </div>
    </div>

    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxPayerList">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer RIN</th>
                    <th class="none">Tax Payer Name</th>
                    <th>Tax Payer Type </th>
                    <th>Assessment</th>
                    <th>Payment</th>
                    <th>Outstanding</th>
                    <th class="none">Review Status</th>
                    <th class="none">Tax Officer</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxOfficeManagerSummaryTaxPayer.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

