@{
    ViewBag.Title = "Operation Manager - Tax Payer Type by Tax Office - Tax Payer List";
}

<div class="title">
    <h1>
        Operation Manager - Revenue Stream By Payment Channel - Tax Payer List
    </h1>
    <hr>
</div>

<input type="hidden" id="hdnTaxOfficeID" value="@ViewBag.TaxOfficeID" />
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Tax Payer List</div>
        <div class="text-right">
            <a href="@Url.Action("TaxPayerTypeByTaxOffice","OperationManager")" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
            <a href="@Url.Action("TaxPayerTypeByTaxOfficeDetailExportToExcel","OperationManager",new { TaxOfficeID=ViewBag.TaxOfficeID})" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxPayerList">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer Type </th>
                    <th>Tax Payer Name</th>
                    <th>Tax Payer RIN</th>
                    <th>Mobile Number</th>
                    <th class="none">Address</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerTypeByTaxOfficeDetail.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

