@{
    ViewBag.Title = "Operation Manager - TCC : Monthly Commission";
}

<div class="title">
    <h1>
        Operation Manager - TCC : Monthly Commission
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Filters
        </div>
    </div>
    <div class="portlet-body">
        <form id="frmTCCMonthlyCommission" class="form-horizontal">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Year:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Year", (SelectList)ViewBag.YearList, "Select Year", new { @class = "form-control bs-select", @id = "cboYear" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Status:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("cboStatus", (SelectList)ViewBag.TCCStatusList, "All Status", new { @id = "cboStatus", @class = "form-control bs-select", @tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch" type="button" tabindex="4"> Search </button>
                        </div>
                    </div>

                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">TCC : Monthly Commission</div>
        <div class="form-actions text-right">
            <button type="button" id="btnExportToExcel" class="btn btn-theme">Export To Excel</button>
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTCCMonthlyCommission">
            <thead class="red-th">
                <tr>
                    <th class="none">MonthNumber</th>
                    <th>Month</th>
                    <th>Count </th>
                    <th>Commission </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTCCMonthlyCommission.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}




