<div id="dvAssessmentItemDetails" title="Assessment Item Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Ref No</label>
                    <div id="dvAssessmentItemRefNo">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Asset Type</label>
                    <div id="dvAIAssetType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Group</label>
                    <div id="dvAssessmentGroup">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Sub Group</label>
                    <div id="dvAssessmentSubGroup">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Stream</label>
                    <div id="dvRevenueStream">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Sub Stream</label>
                    <div id="dvRevenueSubStream">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Category</label>
                    <div id="dvAssessmentItemCategory">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Sub Category</label>
                    <div id="dvAssessmentItemSubCategory">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Agency</label>
                    <div id="dvRevenueAgency">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Name</label>
                    <div id="dvAssessmentItemName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Computation</label>
                    <div id="dvComputation">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Base Amount</label>
                    <div id="dvTaxBaseAmount">

                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="dvCPercentage">
                <div class="form-group">
                    <label class="control-label control-label-static">Percentage(%)</label>
                    <div id="dvPercentage">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Amount</label>
                    <div id="dvTaxAmount">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
