<div id="dvAssessmentRuleDetails" title="Assessment Rule Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Rule Ref No</label>
                    <div id="dvAssessmentRuleRefNo">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Rule Name</label>
                    <div id="dvAssessmentRuleName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Rule Run</label>
                    <div id="dvRuleRun">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Frequency</label>
                    <div id="dvFrequency">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Year</label>
                    <div id="dvTaxYear">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Settlement Method</label>
                    <div id="dvSettlementMethod">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Payment Options</label>
                    <div id="dvPaymentOption">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvStatus">

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Description</label>
                    <div id="dvProfileDescription">

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Items</label>
                    <div id="dvAssessmentItems">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

