@model IList<EIRS.BOL.usp_GetAssessmentRuleInformation_Result>
@using EIRS.Common

<table id="tbAssessmentRuleInformation" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Assessment Rule" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Asset RIN" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Asset Name" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Assessment Amount" />
            </th>
        </tr>
        <tr>
            <th data-class="expand">Assessment Rule</th>
            <th>Asset RIN</th>
            <th>Asset Name</th>
            <th>Assessment Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.AssessmentRuleName</td>
                    <td>@item.AssetRIN</td>
                    <td>@item.AssetName</td>
                    <td>@item.AssessmentAmount.GetValueOrDefault().ToString("N2")</td>
                </tr>
            }
        }
    </tbody>
</table>

