<div id="dvBusinessDetails" title="Business Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business RIN</label>
                    <div id="dvBusinessRIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business Name</label>
                    <div id="dvBusinessName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business Type</label>
                    <div id="dvBusinessType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business LGA</label>
                    <div id="dvBusinessLGA">

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business Category</label>
                    <div id="dvBusinessCategory">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business Sector</label>
                    <div id="dvBusinessSector">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business Sub Sector</label>
                    <div id="dvBusinessSubSector">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business Structure</label>
                    <div id="dvBusinessStructure">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Business Operations</label>
                    <div id="dvBusinessOperations">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvBusinessStatus">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
