<div id="dvCompanyDetails" title="Company Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Company RIN</label>
                    <div id="dvCompanyRIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Company Name</label>
                    <div id="dvCompanyName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">TIN</label>
                    <div id="dvCTIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Mobile Number 1</label>
                    <div id="dvCMobileNumber1">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Mobile Number 2</label>
                    <div id="dvCMobileNumber2">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Email Address 1</label>
                    <div id="dvCEmailAddress1">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Email Address 2</label>
                    <div id="dvCEmailAddress2">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Office</label>
                    <div id="dvCTaxOffice">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Economic Activities</label>
                    <div id="dvCEconomicActivities">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvCStatus">

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
