<div id="dvGovernmentDetails" title="Government Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Government RIN</label>
                    <div id="dvGovernmentRIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Government Name</label>
                    <div id="dvGovernmentName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Government Type</label>
                    <div id="dvGovernmentType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Office</label>
                    <div id="dvGTaxOffice">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Contact Name</label>
                    <div id="dvGContactName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Contact Email</label>
                    <div id="dvGContactEmail">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Contact Number</label>
                    <div id="dvGContactNumber">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvGStatus">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

