<div id="dvLandDetails" title="Land Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Land RIN</label>
                    <div id="dvLandRIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Street Name</label>
                    <div id="dvLandStreetName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Town</label>
                    <div id="dvLandTown">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">LGA</label>
                    <div id="dvLandLGA">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Ward</label>
                    <div id="dvLandWard">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Land Size - Length (Sqm)</label>
                    <div id="dvLandSize_Length">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Land Size - Width (Sqm)</label>
                    <div id="dvLandSize_Width">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">C_OF_O_Ref</label>
                    <div id="dvC_OF_O_Ref">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Land Purpose</label>
                    <div id="dvLandPurpose">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Land Ownership</label>
                    <div id="dvLandOwnership">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Occupancy</label>
                    <div id="dvBuildingOccupancy">

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Latitude</label>
                    <div id="dvLandLatitude">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Longitude</label>
                    <div id="dvLandLongitude">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvLandStatus">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
