<div id="dvMDAServiceItemDetails" title="MDA Service Item Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">MDA Service Item Ref No</label>
                    <div id="dvMDAServiceItemRefNo">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Stream</label>
                    <div id="dvRevenueStream">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Sub Stream</label>
                    <div id="dvRevenueSubStream">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Item Category</label>
                    <div id="dvItemCategory">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Item Sub Category</label>
                    <div id="dvItemSubCategory">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Agency</label>
                    <div id="dvRevenueAgency">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">MDA Service Item Name</label>
                    <div id="dvMDAServiceItemName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Computation</label>
                    <div id="dvComputation">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Service Base Amount</label>
                    <div id="dvServiceBaseAmount">

                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="dvCPercentage">
                <div class="form-group">
                    <label class="control-label control-label-static">Percentage(%)</label>
                    <div id="dvPercentage">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Service Amount</label>
                    <div id="dvServiceAmount">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
