<div id="dvMDAServiceDetails" title="MDA Service Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">MDA Service Code</label>
                    <div id="dvMDAServiceCode">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">MDA Service Name</label>
                    <div id="dvMDAServiceName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Rule Run</label>
                    <div id="dvRuleRun">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Frequency</label>
                    <div id="dvFrequency">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Year</label>
                    <div id="dvTaxYear">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Settlement Method</label>
                    <div id="dvSettlementMethod">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Payment Options</label>
                    <div id="dvPaymentOption">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvStatus">

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label control-label-static">MDA Service Items</label>
                    <div id="dvMDAServiceItems">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


