<div id="dvBuildingUnitDetails" title="Building Unit Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Unit Number</label>
                    <div id="dvUnitNumber">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Unit Purpose</label>
                    <div id="dvUnitPurpose">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Unit Function</label>
                    <div id="dvUnitFunction">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Unit Occupancy</label>
                    <div id="dvUnitOccupancy">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Unit Size</label>
                    <div id="dvUnitSize">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvUnitStatus">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

