<div id="dvVehicleDetails" title="Vehicle Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Vehicle RIN</label>
                    <div id="dvVehicleRIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Vehicle Reg Number</label>
                    <div id="dvVehicleRegNumber">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">VIN</label>
                    <div id="dvVIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Vehicle Type</label>
                    <div id="dvVehicleType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Vehicle Sub Type</label>
                    <div id="dvVehicleSubType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Registration LGA</label>
                    <div id="dvVLGA">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Vehicle Purpose</label>
                    <div id="dvVehiclePurpose">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Vehicle Function</label>
                    <div id="dvVehicleFunction">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Vehicle Ownership</label>
                    <div id="dvVehicleOwnership">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Status</label>
                    <div id="dvVStatus">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
