@{
    ViewBag.Title = "Individual Tax Payer";
}

<div class="title">
    <h1>Individual Tax Payer</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            List of Individual Tax Payers
        </div>
        <div class="actions">
            <a href="@Url.Action("ExportData","CaptureIndividual")" target="_blank" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblIndividual">
            <thead class="red-th">
                <tr>
                    <th>RIN</th>
                    <th>Individual Name</th>
                    <th>TIN</th>
                    <th class="desktop">Address</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@{Html.RenderPartial("_IndividualDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsIndividualListWithExport.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
