@{
    ViewBag.Title = "Assessment Rule List";
}

<div class="title">
    <h1>
        Assessment Rules
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Assessment Rules</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tax Year <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript: jsfn_FilterAssessmentRuleTable(2018);">2018</a>
                    </li>
                    <li>
                        <a onclick="javascript: jsfn_FilterAssessmentRuleTable(2019);">2019</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssessmentRules">
            <thead class="red-th">
                <tr>
                    <th>Tax Year</th>
                    <th>Rule Name</th>
                    <th class="desktop">Run</th>
                    <th>Frequency</th>
                    <th>Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_AssessmentRuleDetailPopup");
    Html.RenderPartial("_ProfileDetailPopup");
    Html.RenderPartial("_AssessmentRuleItemPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jstaxPayerAssessmentRuleList.js"></script>
}