@model IList<EIRS.BOL.usp_GetBusinessBuildingList_Result>

@{
    ViewBag.Title = "Business List";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Business Information for @ViewBag.BuildingName
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
            <a href="@Url.Action("List", "Building")" class="btn btn-default margin-right-5">
                Back
            </a>
            <a href="@Url.Action("AddBusiness", "Building", new { id = ViewBag.BuildingID, name = ViewBag.BuildingRIN })" class="btn btn-primary">
                Add Business Information
            </a>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data- id="dvBuildingBusinessList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Business Information </h2>
                        <div class="widget-toolbar">
                            <a href="@Url.Action("AddBusiness", "Building", new { id = ViewBag.BuildingID, name = ViewBag.BuildingRIN })" class="btn btn-primary">Add Business Information </a>
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbBusiness" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Business RIN" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Business Name" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Unit Number" />
                                        </th>
                                        <th style="width:25%"></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Business RIN</th>
                                        <th>Business Name</th>
                                        <th>Unit Number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @{Html.RenderPartial("_BindBusinessTable", Model);}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@{
    Html.RenderPartial("_BusinessDetailPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsBuildingBusinessList.js"></script>
}

