@model IList<EIRS.BOL.usp_GetBuildingList_Result>

@{
    ViewBag.Title = "Building List";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-bank"></i>
                Building
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
            <a href="@Url.Action("Add","Building")" class="btn btn-default">
                Add Building
            </a>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data-id="dvBuildingList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Building List </h2>
                        <div class="widget-toolbar">
                            <a href="@Url.Action("Add","Building")" class="btn btn-primary">Add Building </a>
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbBuilding" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building RIN" id="txtBuildingRIN"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Tag Number" id="txtBuildingTagNumber"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Name" id="txtBuildingName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Number" id="txtBuildingNumber"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Street Name" id="txtStreetName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Off Street Name" id="txtOffStreetName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Town" id="txtTownName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter LGA" id="txtLGAName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Ward" id="txtWardName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Type" id="txtBuildingTypeName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Completion" id="txtBuildingCompletionName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Purpose" id="txtBuildingPurposeName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Ownership" id="txtBuildingOwnershipName"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter No Of Units" id="txtNoOfUnits"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Size – Length (Sqm)" id="txtBuildingLength"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Building Size – Width (Sqm)" id="txtBuildingWidth"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Latitude" id="txtLatitude"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Longitude" id="txtLongitude"/>
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Status" id="txtStatus"/>
                                        </th>
                                        <th style="width:10%"></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Building RIN</th>
                                        <th>Building Tag Number</th>
                                        <th>Building Name</th>
                                        <th>Building Number</th>
                                        <th>Street Name</th>
                                        <th>Off Street Name</th>
                                        <th>Town</th>
                                        <th>LGA</th>
                                        <th>Ward</th>
                                        <th>Building Type</th>
                                        <th>Building Completion</th>
                                        <th>Building Purpose</th>
                                        <th>Building Ownership</th>
                                        <th>No of Units</th>
                                        <th>Building Size – Length (Sqm) </th>
                                        <th>Building Size – Width (Sqm) </th>
                                        <th>Latitutde</th>
                                        <th>Longitude</th>
                                        <th>Status</th>
                                        <th >Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Footer {
    <script Completion="text/javascript" src="~/Scripts/jsBuildingList.js"></script>
}

