@model IList<EIRS.BOL.usp_GetCompanyList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblCompany">
    <thead class="red-th">
        <tr>
            <th>RIN</th>
            <th>Company Name</th>
            <th>TIN</th>
            <th class="action-th all">Action</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
    {
        <tbody>
            @foreach (var vCompany in Model)
            {
                <tr>
                    <td>@vCompany.CompanyRIN</td>
                    <td>@vCompany.CompanyName</td>
                    <td>@(vCompany.TIN != null ? System.Text.RegularExpressions.Regex.Replace(vCompany.TIN, @"\d(?!\d{0,3}$)", "X") : "-")</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a onclick="javascript:jsfn_ConfirmationModal(@vCompany.CompanyID)">
                                        Select
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

