<div id="dvProfileDetails" title="Profile Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Ref No</label>
                    <div id="dvProfileRefNo">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Asset Type</label>
                    <div id="dvAssetType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Payer Type</label>
                    <div id="dvTaxPayerType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Payer Role</label>
                    <div id="dvTaxPayerRole">

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Description</label>
                    <div id="dvProfileDescription">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Asset Status</label>
                    <div id="dvAssetStatus">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Status</label>
                    <div id="dvProfileStatus">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Sector</label>
                    <div id="dvProfileSector">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Sub Sector</label>
                    <div id="dvProfileSubSector">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Group</label>
                    <div id="dvProfileGroup">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Sub Group</label>
                    <div id="dvProfileSubGroup">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Sector Element</label>
                    <div id="dvSectorElement">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Sector Sub Element</label>
                    <div id="dvSectorSubElement">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Attribute</label>
                    <div id="dvProfileAttribute">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Profile Sub Attribute</label>
                    <div id="dvProfileSubAttribute">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dvAssessmentItemDetails" title="Assessment Item Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Ref No</label>
                    <div id="dvAssessmentItemRefNo">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Asset Type</label>
                    <div id="dvAIAssetType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Group</label>
                    <div id="dvAssessmentGroup">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Sub Group</label>
                    <div id="dvAssessmentSubGroup">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Stream</label>
                    <div id="dvRevenueStream">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Sub Stream</label>
                    <div id="dvRevenueSubStream">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Category</label>
                    <div id="dvAssessmentItemCategory">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Sub Category</label>
                    <div id="dvAssessmentItemSubCategory">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Revenue Agency</label>
                    <div id="dvRevenueAgency">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Assessment Item Name</label>
                    <div id="dvAssessmentItemName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Computation</label>
                    <div id="dvComputation">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Base Amount</label>
                    <div id="dvTaxBaseAmount">

                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="dvCPercentage">
                <div class="form-group">
                    <label class="control-label control-label-static">Percentage(%)</label>
                    <div id="dvPercentage">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Tax Amount</label>
                    <div id="dvTaxAmount">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
