@model IList<AssessmentRule_Profile>
@using EIRS.Common

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileReferenceNo</td>
            <td>@item.AssetTypeName</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        &nbsp;&nbsp; Actions
                        <span class="caret"></span>&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a onclick="javascript:jsfn_ShowProfileDetails(@item.ProfileID)">
                                View
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_RemoveProfileDetails(@item.RowID)">
                                Remove
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="3" align="center">No Records Found.</td>
    </tr>
}
