
@using EIRS.Common

@{
    ViewBag.Title = "Generate Settlement";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Settlement
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="artGenerateSettlement">
                <div class="jarviswidget jarviswidget-color-green" id="dvGenerateSettlement">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Generate Settlement</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <form class="smart-form" id="frmGenerateSettlement">
                                <input type="hidden" id="hdnASID" value="" />
                                <input type="hidden" id="hdnASRefNo" value="" />
                                <header>
                                    Settlement Details
                                    <button id="btnGenerate" class="btn btn-primary pull-right">
                                        Generate Settlement
                                    </button>
                                    <button id="btnBack" class="btn btn-default pull-right margin-right-5">
                                        Back
                                    </button>
                                </header>
                                <fieldset id="fsStep1">
                                    <section>
                                        @Html.Label("Settlement Type", htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownList("SettlementType", (SelectList)ViewBag.SettlementTypeList, "Select Settlement Type", htmlAttributes: new { @tabindex = "1", @id = "cboSettlementType", @class = "select2", @width = "100%" })
                                        </label>
                                    </section>
                                </fieldset>
                                <fieldset id="fsStep2">
                                    <div id="dvAssessmentBill">
                                        <table id="tbAssessment" class="table table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Assessment Ref No" id="txtAssessmentRefNo" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Assessment Date" id="txtAssessmentDate" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Tax Payer Type" id="txtATaxPayerType" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Tax Payer Name" id="txtATaxPayerName" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Tax Payer RIN" id="txtATaxPayerRIN" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Assessment Amount" id="txtAssessmentAmount" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Settlement Due Date" id="txtASettlementDueDate" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Settlement Status" id="txtASettlementStatus" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Settlement Date" id="txtASettlementDate" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Assessment Notes" id="txtAssessmentNotes" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Status" id="txtAStatus" />
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <th data-class="expand">Assessment Ref No</th>
                                                    <th>Assessment Date</th>
                                                    <th>Tax Payer Type</th>
                                                    <th>Tax Payer Name</th>
                                                    <th>Tax Payer RIN</th>
                                                    <th>Assessment Amount</th>
                                                    <th>Settlement Due Date</th>
                                                    <th>Settlement Status</th>
                                                    <th>Settlement Date</th>
                                                    <th>Assessment Notes</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div id="dvServiceBill">
                                        <table id="tbServiceBill" class="table table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Service Bill Ref No" id="txtServiceBillRefNo" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Service Bill Date" id="txtServiceBillDate" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Tax Payer Type" id="txtSTaxPayerType" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Tax Payer Name" id="txtSTaxPayerName" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Tax Payer RIN" id="txtSTaxPayerRIN" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Service Bill Amount" id="txtServiceBillAmount" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Settlement Due Date" id="txtSSettlementDueDate" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Settlement Status" id="txtSSettlementStatus" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Settlement Date" id="txtSSettlementDate" />
                                                    </th>
                                                    <th class="hasinput" style="width:10%">
                                                        <input type="text" class="form-control" placeholder="Filter Service Bill Notes" id="txtServiceBillNotes" />
                                                    </th>
                                                    <th class="hasinput">
                                                        <input type="text" class="form-control" placeholder="Filter Status" id="txtSStatus" />
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <th data-class="expand">Service Bill Ref No</th>
                                                    <th>Service Bill Date</th>
                                                    <th>Tax Payer Type</th>
                                                    <th>Tax Payer Name</th>
                                                    <th>Tax Payer RIN</th>
                                                    <th>Service Bill Amount</th>
                                                    <th>Settlement Due Date</th>
                                                    <th>Settlement Status</th>
                                                    <th>Settlement Date</th>
                                                    <th>Service Bill Notes</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </fieldset>
                                <footer id="dvFooter">
                                    <a id="btnNext" class="btn btn-primary">Next</a>
                                    <a id="btnMainBack" href="@Url.Action("List", "Settlement")" class="btn btn-default">
                                        Cancel
                                    </a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section footer {
    <script type="text/javascript" src="~/Scripts/jsGenerateSettlement.js"></script>

}