@{
    ViewBag.Title = "Waste Management";
}

<div class="title">
    <h1>Waste Management</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Waste Management
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblCWM">
            <thead class="red-th">
                <tr>
                    <th>Profile Ref</th>
                    <th>Profile Name</th>
                    <th>Tax Payers Count</th>
                    <th>Asset Count</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@{Html.RenderPartial("_ProfileDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsCWMList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
