@using EIRS.BOL
@using EIRS.Common
@{
    ViewBag.Title = "Corporate Tax Payer - View Bill";
}

<div class="title">
    <h1>
        Corporate Tax Payer: View Bill Details
    </h1>
    <hr>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="portlet light" style="min-height: 270px;">
            <div class="portlet-title">
                <div class="caption">
                    Record Details
                </div>
            </div>
            <div class="portlet-body">
                <table class="table border-top-0">
                    <tbody>
                        <tr>
                            <td>Template Type</td>
                            <td>Assessment</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>Date</td>
                        </tr>
                        <tr>
                            <td>Tax Payer Type</td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Tax Payer Name</td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Settlement Status</td>
                            <td>Name</td>
                        </tr>
                        <tr>
                            <td>Due Date</td>
                            <td>Name</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light" style="min-height: 284px;">
            <div class="portlet-title">
                <div class="caption">
                    Notes
                </div>
            </div>
            <div class="portlet-body link-box">
                <p>AssessmentNotes</p>
            </div>
        </div>
    </div>
</div>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Reference: AB00022 &nbsp; | &nbsp; Status: Assessed
        </div>
    </div>
    <div class="portlet-body">
        <div class="list-pane" id="dvRequestList">
            <div class="list-item clearfix">
                <div class="col-sm-12 list-left-col">
                    <h3>
                        AR01779 - Pools Promoters License Renewal
                        <a data-toggle="modal" data-target="#dvViewAssessmentRuleModal_10021">[View Items]</a>
                    </h3>
                    <div class="desc-row">
                        Amount Charged: ₦200,000.00 <br>
                        Amount Paid: ₦0.00 <a data-toggle="modal" data-target="#dvViewPaymentModal_10021">[View Payments]</a> <br>
                        Outstanding: ₦200,000.00 <br>
                        Tax Year: 2018
                    </div>
                </div>
            </div>
            <div class="modal fade custom-modal" id="dvViewAssessmentRuleModal_10021" tabindex="-1" role="dialog" aria-labelledby="dvViewAssessmentRuleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dvViewAssessmentRuleModalLabelA">View Items in AR01779 - Pools Promoters License Renewal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="dt-responsive table table-bordered v-middle" width="100%">
                                <thead class="thead-theme">
                                    <tr>
                                        <th>Item Ref</th>
                                        <th>Item Name</th>
                                        <th>Computation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AI01744</td>
                                        <td>Pools Promoters License Renewal</td>
                                        <td>Fixed</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade custom-modal" id="dvEditAmountModal_10021" tabindex="-1" role="dialog" aria-labelledby="dvEditAmountModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dvEditAmountModalLabelA">Edit Amount to Pay against AR01779 - Pools Promoters License Renewal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="dt-responsive table table-bordered v-middle" width="100%">
                                <thead class="thead-theme">
                                    <tr>
                                        <th>Item Ref</th>
                                        <th>Item Name</th>
                                        <th>Outstanding</th>
                                        <th>Amount to Pay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AI01744</td>
                                        <td>Pools Promoters License Renewal</td>
                                        <td>200000.0</td>
                                        <td>
                                            <input type="text" name="txtToPayAmount" class="form-control" data-maxamount="200000.0" value="200000.0">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-theme" data-modalid="10021" name="btnSaveAmount">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade custom-modal" id="dvViewPaymentModal_10021" tabindex="-1" role="dialog" aria-labelledby="dvViewPaymentModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dvViewPaymentModalLabelA">View Payments for AR01779 - Pools Promoters License Renewal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="dt-responsive table table-bordered v-middle" width="100%">
                                <thead class="thead-theme">
                                    <tr>
                                        <th>Payment Ref</th>
                                        <th>Payment Date</th>
                                        <th>Amount Paid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3">No Payment Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-item clearfix">
                <div class="col-sm-12 list-left-col">
                    <h3>AR01775 - Pools Agent License Renewal <a data-toggle="modal" data-target="#dvViewAssessmentRuleModal_10023">[View Items]</a> </h3>
                    <div class="desc-row">
                        Amount Charged: ₦250,000.00 <br>
                        Amount Paid: ₦0.00 <a data-toggle="modal" data-target="#dvViewPaymentModal_10023">[View Payments]</a> <br>
                        Outstanding: ₦250,000.00 <br>
                        Tax Year: 2018
                    </div>
                </div>                
            </div>
            <div class="modal fade custom-modal" id="dvViewAssessmentRuleModal_10023" tabindex="-1" role="dialog" aria-labelledby="dvViewAssessmentRuleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dvViewAssessmentRuleModalLabel">View Items in AR01775 - Pools Agent License Renewal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="dt-responsive table table-bordered v-middle" width="100%">
                                <thead class="thead-theme">
                                    <tr>
                                        <th>Item Ref</th>
                                        <th>Item Name</th>
                                        <th>Computation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AI01769</td>
                                        <td>Pools Agent License Renewal</td>
                                        <td>Fixed</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade custom-modal" id="dvEditAmountModal_10023" tabindex="-1" role="dialog" aria-labelledby="dvEditAmountModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dvEditAmountModalLabel">Edit Amount to Pay against AR01775 - Pools Agent License Renewal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="dt-responsive table table-bordered v-middle" width="100%">
                                <thead class="thead-theme">
                                    <tr>
                                        <th>Item Ref</th>
                                        <th>Item Name</th>
                                        <th>Outstanding</th>
                                        <th>Amount to Pay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AI01769</td>
                                        <td>Pools Agent License Renewal</td>
                                        <td>250000.0</td>
                                        <td>
                                            <input type="text" name="txtToPayAmount" class="form-control" data-maxamount="250000.0" value="250000.0">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-theme" data-modalid="10023" name="btnSaveAmount">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade custom-modal" id="dvViewPaymentModal_10023" tabindex="-1" role="dialog" aria-labelledby="dvViewPaymentModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dvViewPaymentModalLabel">View Payments for AR01775 - Pools Agent License Renewal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="dt-responsive table table-bordered v-middle" width="100%">
                                <thead class="thead-theme">
                                    <tr>
                                        <th>Payment Ref</th>
                                        <th>Payment Date</th>
                                        <th>Amount Paid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3">No Payment Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row info-row">
                <div class="col-sm-6">
                    Total Amount
                </div>
                <div class="col-sm-6 text-right">
                    ₦450,000.00
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row">
                <div class="col-sm-6">
                    Total Paid <a data-toggle="modal" data-target="#dvViewSettlementModal">[View Payments]</a>
                </div>
                <div class="col-sm-6 text-right">
                    ₦0.00
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row">
                <div class="col-sm-6">
                    Outstanding
                </div>
                <div class="col-sm-6 text-right">
                    ₦450,000.00
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row font-red font-17">
                <div class="col-sm-6">
                    Amount to Pay
                </div>
                <div class="col-sm-6 text-right" id="dvAmountToPay">
                    ₦450,000.00
                </div>
            </div>

            <hr class="margin-top-0">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4">Settlement Method*</label>
                    <div class="col-sm-8">
                        <div class="btn-group bootstrap-select form-control bs-select">
                            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Select Settlement Method"><span class="filter-option pull-left">Select Settlement Method</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Select Settlement Method</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Internet Web Pay</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Bank Transfer</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Point of Sale (POS)</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Mobile Payment</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Scratch Card Payment</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select class="form-control bs-select" tabindex="-98">
                                <option>Select Settlement Method</option>
                                <option value="1">Internet Web Pay</option>
                                <option value="2">Bank Transfer</option>
                                <option value="3">Point of Sale (POS)</option>
                                <option value="4">Mobile Payment</option>
                                <option value="5">Scratch Card Payment</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Add Notes</label>
                    <div class="col-sm-8">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4"></label>
                    <div class="col-sm-8">
                        <a class="btn btn-theme btn-block"> Make Payment </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
