@model IList<EIRS.BOL.usp_GetExceptionTypeList_Result>

@{
    ViewBag.Title = "Exception Type List";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Exception Type
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
            <a href="@Url.Action("Add","ExceptionType")" class="btn btn-default">
                Add Exception Type
            </a>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data- id="dvExceptionTypeList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Exception Type List </h2>
                        <div class="widget-toolbar">
                            <a href="@Url.Action("Add","ExceptionType")" class="btn btn-primary">Add Exception Type </a>
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbExceptionType" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput" style="width:25%">
                                            <input type="text" class="form-control" placeholder="Filter Exception Type" />
                                        </th>
                                        <th class="hasinput" style="width:25%">
                                            <input type="text" class="form-control" placeholder="Filter Status" />
                                        </th>
                                        <th style="width:25%"></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Exception Type</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @{Html.RenderPartial("_BindTable", Model);}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsExceptionTypeList.js"></script>
}

